body{
    background-color: brown;
    background-image: url(alfirdaus\ logo.png);
}
h1{
    text-align: center;
    border: 10px solid;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}